.getNavLink {
  margin-right: 32px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}

.getNavLink:last-child {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  margin-right: 0;
}

.getNavLink:hover,
.getNavLink:focus {
  color: rgba(216, 67, 67, 1);
}
