.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 24px 0;
  position: relative;
  border-bottom: 1px solid rgba(242, 244, 247, 1);
  background-color: rgba(247, 247, 247, 1);
}

.leftSide {
  flex-basis: auto;
  margin-left: 64px;
}

.center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
