.header {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 100%;
  padding: 24px 0px 24px 0px;
  border-bottom: 1px solid rgba(242, 244, 247, 1);
}
