.button {
  border: 1px solid rgba(218, 221, 225, 1);
  background-color: transparent;
  padding: 16px 32px 16px 32px;
  border-radius: 200px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.005em;
  text-align: left;
}

.button:hover,
.button:focus {
  border: 1px solid rgba(216, 67, 67, 1);
}
